[Desktop Entry]
Name=madOS Launcher
Comment=Application dock launcher for madOS
Exec=mados-launcher
Icon=application-menu
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
