[Unit]
Description=madOS Overlayfs Persistence
DefaultDependencies=no
After=local-fs.target systemd-udevd.service
Before=display-manager.service multi-user.target
ConditionPathExists=/run/archiso

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-persistence.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=180

[Install]
WantedBy=sysinit.target
