[Unit]
Description=madOS Overlayfs Persistence
After=local-fs.target systemd-udevd.service systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=display-manager.service multi-user.target getty@tty1.service
ConditionPathExists=/run/archiso

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-persistence.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
