LABEL arch
TEXT HELP
Boot madOS Live environment with Sway compositor.
Includes the madOS installer for system installation.
ENDTEXT
MENU LABEL madOS Live (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=256M

# Safe graphics boot option
LABEL archsafe
TEXT HELP
Boot madOS Live with safe graphics mode (nomodeset).
Use this if you have display problems with the default option.
ENDTEXT
MENU LABEL madOS Live (Safe Graphics) (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=256M nomodeset
